{{ data.message }}
<br />
Von <a href="http://www.tageswoche.ch/user/profile/{{ data.userName }}">{{ data.userName }}</a> ({{ data.userRealName }})
<br />
Gesendet von: <a href="{{ data.url }}">{{ data.url }}</a>
